* {
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700|Open+Sans:400,700');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-color: #64BE43;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Dosis', sans-serif;
}

.bg-main-color {
    background-color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.border-main-color {
    border-color: var(--main-color) !important;
}

.borders-white-color {
    border-color: white !important;
}

a a:focus,
a,
a:hover {
    text-decoration: none;
}
.navbar a{
    color: white !important;
}
.fa{
    color: var(--main-color);
}
@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
}

.carousel-inner .carousel-item img {
    width: 100% !important;
    height: 80vh !important;

}

.offerts .carousel-inner .carousel-item img {
    width: 85% !important;
    height: 85% !important;

}

.header-top a {
    color: #464646;
}

.market a {
    position: relative;
    font-size: 18px;
}

.market a .cartpoint {
    position: absolute;
    top: -10px;
    left: 0;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    font-size: 10px;
}

nav {
    z-index: 9999;
}

nav img {
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 0;
    text-align: center;
}

.carousel-inner .carousel-caption h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 84px;
}

.carousel-inner .carousel-caption span {
    color: rgb(100, 190, 67);
    position: relative;
     
}
.carousel-inner .carousel-caption span:before {
    position: absolute;
    left: -60px;
    bottom: 0;
    content: "";
    width: 80%;
    background-color: #ffffff;
    height: 5px;
    margin: auto;
    right: 0;
    border-radius: 3px;
}
.carousel-inner .carousel-caption p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;

}

.navbar .nav-item li:hover {
    color: #fff !important;
}

.carousel-inner .carousel-caption button {
    background-color: var(--main-color);
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    border: #64BE43;
    color: #ffffff;
}

.carousel-inner .carousel-caption button:hover {
    color: var(--main-color);
    border: var(--main-color) 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgba(153, 15, 15, 0) none repeat scroll 0 0;
 
}
.carousel-indicators button.active{ 
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);}

.header-top a:hover,
.header-top ul li:hover {
    color: var(--main-color) !important;
}

.nav-item a,
.nav-item .nav-link.active {
    font-family: "Open Sans", sans-serif;

    Font-size: 15px;

    Font-weight: 600;

    Line-height: 20px;

    color: rgb(255, 255, 255);
    position: relative;
}

.about .about-text h3 {
    font-family: Dosis, sans-serif;
    font-size: 24px;
    Font-weight: 400;

    line-height: 33.6px;

    color: rgb(100, 190, 67);
}

.about .about-text p {
    font-size: 15px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: rgb(70, 70, 70);

}

.page-title h2 {
    font-family: Dosis, sans-serif;
    color: #64BE43;
    line-height: 42px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;

}



.page-title h2:before {
    position: absolute;
    content: "";
    width: 50%;
    max-width: 100px;
    height: 2px;
    background-color: #64BE43;
    left: 0;
    right: 20%;
    margin: auto;
    top: -10%;
}

.page-title h2:after {
    position: absolute;
    content: "";
    width: 50%;
    max-width: 100px;
    height: 2px;
    background-color: #64BE43;
    left: 0;
    right: -20%;
    margin: auto;
    bottom: 10%;
}



.abo-img img {
    width: 100%;
    height: 100%;
}

.service-photo {
    border: 1px solid #464646;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
}

.service-photo img {
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.service-item:hover .service-photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.service-item h2,
.single-blog h2 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}

.bttn-more {
    color: #64BE43 !important;
    text-transform: uppercase;
}

.bttn-more:focus,
.bttn-more:hover {
    color: #64BE43;
    text-decoration: underline;
}

.service-item:hover h2 {
    color: #64BE43;
}

.service-item:hover .service-photo {
    border-color: #64BE43;
}

.nav-tabs {

    justify-content: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--mainColor);
}

.nav-tabs .nav-link {
    color: #64BE43;
    border: none
}

.nav-tabs {
    margin-bottom: 20px;
    border: none;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #64BE43;
    padding: 4px 20px;
}

.w-20 {
    width: 20%;
}

.recnet_pic {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pic_zoom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

.recnet_pic img {
    width: 100%;
}

.pic_zoom a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #64BE43;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 3;
    font-size: 16px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 9;
    transform: scale(1.3)
}

.pic_zoom:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #64BE43;
    opacity: 0;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.recnet_pic:hover .pic_zoom a {
    opacity: 1;
    transform: scale(1)
}

.recnet_pic:hover .pic_zoom:before {
    opacity: 0.8;
}

.recnet_pic:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.Circular-percentage .percentage {
    position: relative;
}

.Circular-percentage .percentage span {
    position: absolute;
    display: inline-block;
    font-size: 80px;
    line-height: 1;
    color: #64BE43;
    text-align: center;
    width: 100%;
    height: 85px;
    margin: auto;
    top: 0;
    bottom: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.Circular-percentage .percentage canvas {
    margin: auto;
    display: block;

}

.Circular-percentage h3 {
    color: #64BE43;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0;
}

.discover-area {
    color: #ffffff;
    padding: 150px 0;
}

.discover-area .backgr-sec {
    background-image: url(../img/discover-bg.jpg);
}

.single-photography {
    padding-left: 120px;
    position: relative;
    margin: 35px 0;
}

.single-photography .photography-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #dddddd;
    text-align: center;
    font-size: 46px;
    border-radius: 50%;
    line-height: 2.1;
    color: #64BE43;
}

.single-photography h2 {
    color: #464646;
    font-weight: 600;
    font-size: 22px;
}

.active .single-photography .photography-icon {
    background-color: #64BE43;
    color: #dddddd;
}

.active .single-photography h2 {
    color: #64BE43;
}

.discover-area .battn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #64be43;
}

.filter-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.filter-menu ul li {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #64BE43;
    transition: 0.3s;
}

.filter-menu ul li.active {
    background-color: #64BE43;
    color: #ffffff;
}

.single-portfolio {
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
}

.portfolio-zoom-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
}

.single-portfolio img {
    width: 100%;
}

.portfolio-zoom-icon a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #64BE43;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 3;
    font-size: 16px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 9;
    transform: scale(1.3)
}

.portfolio-zoom-icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #64BE43;
    opacity: 0;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.single-portfolio:hover .portfolio-zoom-icon a {
    opacity: 1;
    transform: scale(1)
}

.single-portfolio:hover .portfolio-zoom-icon:before {
    opacity: 0.8;
}

.single-portfolio:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.offerts .page-title h2,
.contact-area .page-title h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 30px;
}

.offerts .page-title h2:before,
.contact-area .page-title h2::before {
    position: absolute;
    content: "";
    width: 50%;
    max-width: 100px;
    height: 2px;
    background-color: #fff;
    left: -1px;
    right: -21%;
    margin: auto;
    top: 60px;
}

.offerts .page-title h2:after,
.contact-area .page-title h2::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #fff;
    left: -1px;
    right: 20%;
    margin: auto;
    top: -50px;
}

.about h3 {
    text-indent: 4%;
}

.price-header {
    position: relative;
    overflow: hidden;
}

.price-plan {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    color: #64BE43;
}


content: "";
position: ;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #000000;
opacity: 0.5;
z-index: -1;
-webkit-transition: 0.2s;
transition: 0.2s;
} */

.single-price:hover .price-plan:before {
    opacity: 0.6;
    background-color: #64BE43;
}

.single-price:hover .price-rate {
    border-color: #ffffff;
}

.single-price:hover .price-plan {
    color: #ffffff;
}

.price-title h3 {
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
}

.price-rate {
    border-left: 1px solid #64BE43;
    margin-left: 15px;
    padding-left: 15px;
}

.price-rate h3 {
    font-weight: 700;
    font-size: 45px;
}

.price-rate h5 {
    font-size: 19px;
    font-weight: 700;
}

.price-body ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-body ul li:before {
    content: "\f00c";
    font-family: fontawesome;
    margin-right: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price-body ul li:hover:before {
    color: #64BE43;
}

.price-body ul li {
    margin: 15px 0;
}

.price-body {
    border: 1px solid #dddddd;
    padding: 15px 0;
}

.price-footer {
    background-color: #dddddd;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price-battn {
    background-color: #ffffff;
    padding: 4px 20px;
    border-radius: 100px;
    display: inline-block;
    color: #464646;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}

.price-battn:hover {
    color: #64BE43;
}

.price-battn i.fa {
    margin-left: 5px;
}

.single-price:hover .price-footer {
    background-color: #64BE43;
}

.section-bg {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.client-area .section-bg {
    background-image: url(../img/client-bg.jpg);
}

.client-area .section-bg:after {
    background-color: #64BE43;
}

.client-area .carousel-indicators li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    text-indent: 0;
    transition: all 0.3s ease 0s;
    width: 100px;
}

.client-area .carousel-indicators {
    position: static;
}

.client-area img {
    border-radius: 50%;
}

.client-area .carousel-indicators li.active {
    border: 1px solid #ffffff;
}

.client-photo {
    width: 250px;
    height: 250px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.client .carousel-indicators {
    margin: -25px;
}

.client-area .carousel-indicators li.active {
    border: 1px solid #ffffff;
}

.client .carousel-indicators button .ind1 {
    background: url("../img/client-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.single-client {
    color: #ffffff;
}

.single-client h4 {
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.single-client h5 {
    font-family: 'Open Sans', sans-serif;
}

.client-text {
    width: 70%;
    margin: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.client-text p::before {
    content: "\f10d";
    font-family: fontawesome;
    font-size: 30px;
    margin-right: 10px;
}

.client-area .client-carousel-control:hover {
    opacity: 1;
}

.client-slide-control {
    position: absolute;
    display: inline-block;
    top: 100px;
    width: 350px;
    left: 0;
    right: 0;
    margin: auto;
}

.client-slide-control .client-carousel-control {
    color: #fff;
    font-size: 50px;
    float: left;
    opacity: 0.6;
}

.client-slide-control .client-carousel-control.right {
    float: right;
}

.client-slide-control .client-carousel-control:hover {
    opacity: 1;
}


.contact-area .section-bg {
    background-image: url("../img/contact-bg.jpg");
}

.contact-area .section-bg::after {
    background-color: #64BE43;
}

.contact-area .page-title {
    color: #ffffff;
}

.contact-area input.form-control {
    height: 45px;
}

.contact-area .battn {
    background-color: #ffffff;
    border: medium none;
    color: #64be43;
    min-width: 200px;
}

.contact-area .battn:hover {
    color: #ffffff;
    background-color: #64BE43;
}

.contact-area input,
.contact-area textarea {
    margin-bottom: 15px;
    border: 1px solid #ffffff;
}

.contact-area input#form-name,
.contact-area input#form-email {
    float: left;
    width: 49%;
}

.contact-area input#form-name {
    margin-right: 2%;
}


.footer-logo {
    margin-bottom: 20px;
}

.sss {
    align-items: center;

}

.single-footer .contact-details {
    margin-top: 20px;
}

.single-footer .contact-details p {
    color: #64BE43;
}

.single-footer .contact-details a {
    margin-left: 10px;
}

.single-footer a {
    color: #464646 !important;
}

.single-footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.single-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-list li {
    padding-left: 60px;
    position: relative;
    min-height: 50px;
    margin-bottom: 15px;
}

.news-list li .news-list-photo {
    position: absolute;
    left: 0;
    top: 0;
}

.footer-area .open-hour li {
    margin-bottom: 10px;
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}

.footer-area .open-hour li span {
    float: right;
}

#maps {
    height: 250px;
    width: 100%;
}

.text-left {
    text-align: left;
}

.social-menu.circle a {
    border: 1px solid #64BE43;
    border-radius: 50%;
    color: #64BE43;
    height: 40px;
    line-height: 2.3;
    margin-right: 5px;
    width: 40px;
}

.social-menu.circle a:last-child {
    margin-right: 0;
}

.social-menu.circle a:hover {
    color: #ffffff;
    background-color: #64BE43;
}

.subs-title {
    font-family: 'Open Sans', sans-serif;
}

.subs-title h2 {
    color: #64BE43;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 0;
}

.subs-form form {
    width: 100%;
    height: 60px;
    background-color: #ddd;
    border-radius: 100px;
    padding: 0 0 0 20px;
    position: relative
}

.subs-form form input {
    background: none;
    border: none;
    padding: 16px;
    width: 71%;
    float: left;
    margin-top: 2px;
}

.subs-form form button {
    height: 100%;
    cursor: pointer;
    background-color: #64BE43;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0;
    width: 25%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    right: 0;
    top: 0;
}

.subs-form form button:hover {
    background-color: #6f9d2f;
}

.subs-form form span {
    float: left;
    width: 4%;
    margin: 17px 0 0 0;
}

.footer-bottom {
    background-color: #363636;
    color: #fff;
    padding: 20px 0;
}

.copyright p {
    margin-bottom: 0;
}

.copyright {
    padding: 8px 0;
}

.copyright a {
    color: #64BE43;
}

label.mt20.error {
    position: absolute;
    bottom: -30px;
    left: 0;
}

label.mt20.valid {
    margin-top: 17px;
}

#scrollUp {
    background-color: #64BE43; 
    border: 1px solid #64BE43;
    border-radius: 2px;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    z-index: 2147483647;
    display: block;
    transition: all 0.3s ease;
}

#scrollUp i {
    color: #ffffff; 
    transition: color 0.3s ease;
}

#scrollUp:hover {
    background-color: #ffffff; 
    border-color: #64BE43;
}

#scrollUp:hover i {
    color: #64BE43; 
}
.contact-area {

    text-align: center;
    background: linear-gradient(rgba(90, 214, 44, 0.67), rgba(100, 191, 66, 0.67)) 0 0/cover no-repeat fixed, url("../img/contact-bg.jpg") 0 0/cover no-repeat fixed;
}

.client {

    background: linear-gradient(rgba(79, 212, 30, 0.67), rgba(100, 191, 66, 0.67)) 0 0/cover no-repeat fixed, url("../img/client-bg.jpg") 0 0/cover no-repeat fixed;
}

.discover-area {

    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .5)) 0 0/cover no-repeat fixed, url("../img/discover-bg.jpg") 0 0/cover no-repeat fixed;
}

.nav-item li a.active {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 30px;
}



nav .navbar-nav li a:before {
    position: absolute;
    content: "";
    left: 33px;
    bottom: 0px;
    width: 50%;
    height: 2px;
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;

}
nav .navbar-nav li a:after {
    position: absolute;
    content: "";
    left: 1px;
    top: 0px;
    width: 50%;
    height: 2px;
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;

}
nav .navbar-nav li.active a:before
{
    opacity: 1 !important;
}
nav .navbar-nav li.active  a:after {
    opacity: 1 !important;
}

.client .carousel-inner img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
}

.overle {
    width: 100%;
    height: 100%;

    position: relative;

}

.carousel-caption {
    z-index: 5;
}

.carousel-indicators {
    z-index: 8;
}

.overle::before {
    background: url("../img/header-bottom-shap.svg") no-repeat scroll center bottom / 100% auto;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    ;
}

.overle::after {
    background-color: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


.ddd {
    position: absolute;
    left: 5px ! important;
    top: 5px;
}

.about .about-text-button .btt {
    color: #fff;
}

.about .about-text-button .btt:hover {
    color: var(--main-color) !important;
    background-color: #fff;
    border: var(--main-color) 1px solid;

}


.latest-blog a {
    color: black;
}
.latest-blog a:hover {
    color: var(--main-color);
}


.single-skill .skill {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(#ddd 0deg, #ddd 360deg); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Dosis', sans-serif;
  color: #64BE43;
  box-sizing: border-box;
  padding: 10px;
}

.single-skill .skill::before {
  content: "";
  position: absolute;
  top: 10px;  
  left: 10px;
  width: 100px;  
  height: 100px;
  background: white; 
  border-radius: 50%;
  z-index: 1;
}

.single-skill .skill span {
  position: relative;
  z-index: 2;  
  font-size: 32px;
  font-weight: 700;
  color: #64BE43;
}

.single-skill h3 {
  color: #64BE43;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}
.fa-brands{
    padding: 5px;
}